@model BeMyNeighbor.Domain.Models.LocalUser;

@{
  Layout = "../Shared/_UserMainLayout.cshtml";
}

@{
  @if(!@Model.UserDb.VerifiedUser){
    //Present the user will a list of communities for the first time
    @Html.Partial("./_SelectCommunity.cshtml", @Model);
  }else{
    //Present main content
    <div class="UserMainContent">
        <div class="UserProfile">
          <p>UserProfile</p>
        </div>

        <div class="Map">
          <p>Map</p>
        </div>

        <div class="PostFeed">
          <p>PostFeed</p>
        </div>
    </div>
  }
}

