@{
  Layout = "../Shared/_UserMainLayout.cshtml";
}

<div class="UserMainContent">
    <div class="UserProfile">
      <p>UserProfile</p>
    </div>

    <div class="Map">
      <p>Map</p>
    </div>

    <div class="PostFeed">
      <p>PostFeed</p>
    </div>
</div>