@model BeMyNeighbor.Domain.Models.LocalUser;

@{
  Layout = "../Shared/_UserMainLayout.cshtml";
}

<div class="container">
    <main role="main" class="pb-1">
      @Html.Partial("./_SelectCommunity.cshtml", @Model);
    </main>
</div>