@model BeMyNeighbor.Domain.Models.ViewModels.CreatePostViewModel;
<div class="row justify-content-md-center">
  <div class="col-md-10 justify-content-md-center shadow p-3 mb-5 bg-white rounded">
    <p>New Job Post</p>
    <form action="/Post/Create" method="Post">
      <div class="form-group">
        <input class="form-control" maxlength="100" asp-for="@Model.UserComment">
      </div>
      <fieldset class="form-group">
        <select class="form-control" asp-for="@Model.TaskTypeId">
          @Html.Partial("_TaskTypeOptions.cshtml",BeMyNeighbor.Domain.Models.DbModels.TaskDbManager.GetInstance().TaskTypeList)
        </select>
      </fieldset>
      <button type="submit" class="btn btn-outline-primary float-right">Post Neighbor!</button>
    </form>
  </div>
</div> 