@{
    Layout = "";
}
@model List<BeMyNeighbor.Data.Entities.Community>

<head>
    <title> Sign-up Page </title>
</head>
<center>
<div>
    <h1 class="display-4">Create your new Be My Neighbor account now !!!</h1>
</center>
    
</div>